{% load static %}
<div class="votingOptionWrapper animated shadow">
    <a href="{% url 'object_detail' object.id %}"
       class="votingOptionWrapper">
        <img class="votingOptionImage"
             src="{{ object.image.url }}"
             alt="Изображение {{ object.name }}"/>
        <div class="flexColumnVotingOption">
            <div>
                <h3 class="votingOptionSubtitle">{{ object.name }}</h3>
            </div>
            <div>
                <form action="{% url 'add_object_to_voting' object.id %}"
                      method="post" class="voteForm">
                    {% csrf_token %}
                    <button type="submit" class="voteButton"
                            data-object-id="{{ object.id }}">
                        <h3 class="voteButtonText">
                            {% if is_added %}
                                Добавлено
                            {% else %}
                                Добавить
                            {% endif %}
                        </h3>
                        <img class="voteButtonIcon"
                             src="
                                     {% static 'assets/' %}{% if is_added %}tick.svg{% else %}plus.svg{% endif %}"
                             alt="{% if is_added %}Добавлено{% else %}Добавить{% endif %}"/>
                    </button>
                </form>
            </div>

        </div>
    </a>
</div>