{% load static %}
<footer class="footerSection">
    <div class="footerWrapper">
        <div class="flexRowFooterGallery">
            <div class="flexRowFooter">
                <img class="footerImage"
                     src="{% static 'assets/tr_pars.svg' %}" alt="alt text"/>
                <h3 class="footerSubtitle">Вадим Пичурин {{ year }}</h3>
            </div>
            <div class="flexRowFooter">
                <a href="https://t.me/vadimpich" target="_blank">
                    <img class="footerImage animated"
                         src="{% static 'assets/tg_icon.png' %}"
                         alt="alt text"/>
                </a>
                <a href="https://github.com/Vadimpich" target="_blank">
                    <img class="footerImage animated"
                         src="{% static 'assets/github_icon.png' %}"
                         alt="alt text"/>
                </a>
                <a href="#" target="_blank">
                    <img class="footerImage animated"
                         src="{% static 'assets/discord_icon.png' %}"
                         alt="alt text"/>
                </a>
            </div>

        </div>
    </div>
</footer>