{% load static %}
<header class="flexColContainer {# backgroundImage #}"
        style="--src:url('{% static "assets/background.png" %}')">
    <nav class="flexRowContainer">
        <a class="logo" href="{% url 'index' %}">
            <img class="logoSym"
                 src="{% static 'assets/logo_sym.png' %}"
                 alt="alt text"/>
            <img class="logoText"
                 src="{% static 'assets/logo_text.png' %}"
                 alt="alt text"/>
        </a>
    </nav>
</header>