* {
    font: 400 24px/1.2 "Golos Text", Helvetica, Arial, serif;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Высота экрана */
}

main {
    flex: 1; /* Контент занимает оставшееся пространство */
    padding: 20px;
}


footer p {
    margin: 0;
}

a, u {
    text-decoration: none;
}

input {
    border-style: solid;
    border-color: #4d00ff;
    border-radius: 16px;
    min-width: 300px;
    padding-left: 10px;
}

button {
    cursor: pointer;
}

table {
    width: 86%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 18px;
    text-align: left;
}

thead tr {
    background-color: #4d00ff;
    color: white;
    text-align: left;
    font-weight: bold;
}

th, td {
    padding: 12px 15px;
    border: 1px solid #dddddd;
}

tbody tr {
    border-bottom: 1px solid #dddddd;
    background-color: #f9f9f9;
    transition: background-color 0.2s ease-in-out;
}

tbody tr:nth-child(even) {
    background-color: #f3f3f3;
}

tbody tr:hover {
    background-color: #d3d3ff;
    cursor: pointer;
}

tbody tr td {
    color: #333;
}

tbody tr td a {
    text-decoration: none;
    color: inherit;
}

tbody tr td a:hover {
    text-decoration: underline;
}

.mainContent {
    display: flex;
    flex-direction: column;
    background-color: white;
    overflow: hidden;
}

.backgroundImage {
    background: var(--src) center center/cover no-repeat;
}

.flexColumn {
    display: flex;
    flex-direction: column;
    gap: 130px 0;
    margin: 18px auto 508px;
    width: 1280px;
    max-width: 85%;
}

@media (max-width: 991px) {
    .flexColumn {
        margin: 18px auto 150px;
    }
}

@media (max-width: 575px) {
    .flexColumn {
        gap: 80px 0;
        margin: 18px auto 80px;
    }
}

@media (max-width: 383px) {
    .flexColumn {
        gap: 50px 0;
        margin: 18px auto 50px;
    }
}

.flexRow {
    display: flex;
    justify-content: space-between;
    gap: 0 10px;
}

.flexRowFooter {
    display: flex;
    justify-content: space-between;
    gap: 0 24px;
}

@media (max-width: 383px) {
    .flexRow {
        -moz-column-gap: 8px;
        column-gap: 8px;
    }
}

.flexColContainer {
    display: flex;
    flex-direction: column;
    margin: 18px auto;
    width: 1280px;
    max-width: 85%;
}

@media (max-width: 575px) {
    .flexColContainer {
        margin: 18px auto 80px;
    }
}

@media (max-width: 383px) {
    .flexColContainer {
        margin: 18px auto 50px;
    }
}

.flexRowContainer {
    display: flex;
    justify-content: space-between;
    gap: 0 10px;
}

@media (max-width: 383px) {
    .flexRowContainer {
        -moz-column-gap: 8px;
        column-gap: 8px;
    }
}

.logo {
    display: flex;
    align-items: center;
    gap: 0 5px;
    width: 115px;
    min-width: 0;
}

.logoSym {
    width: 16px;
    -o-object-fit: cover;
    object-fit: cover;
}

.logoText {
    width: 94px;
    min-width: 0;
    -o-object-fit: cover;
    object-fit: cover;
}

.headerButton {
    margin: 13px 0 21px;
    font: 400 20px/1.2 "Golos Text", Helvetica, Arial, serif;
    color: rgba(0, 0, 0, 0.8);
}

@media (max-width: 991px) {
    .headerButton {
        align-items: flex-start;
        font-size: 18px;
    }
}

@media (max-width: 479px) {
    .headerButton {
        display: none;
        font-size: 16px;
    }
}

.loginButton {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 150px;
    border-radius: 24px;
    height: 48px;
    background-image: linear-gradient(180deg, #4d00ff 0%, #8a58ff 100%);
    font: 400 20px/1.2 "Golos Text", Helvetica, Arial, serif;
    color: white;
}

.disabledButton {
    background-image: linear-gradient(180deg, #444444 0%, #666666 100%);
}

.deleteButton {
    background-image: linear-gradient(180deg, #AA2222 0%, #CC6666 100%);
}

.loginSubtitle {
    display: flex;
    justify-content: center;
    margin: 12px 30px 11px;
    width: 150px;
    max-width: 85%;
    height: 24px;
    font: 400 20px/1.2 "Golos Text", Helvetica, Arial, serif;
    color: white;
    text-align: center;
}

@media (max-width: 991px) {
    .loginSubtitle {
        align-items: flex-start;
        font-size: 18px;
    }
}

@media (max-width: 575px) {
    .loginSubtitle {
        margin: 12px 16px 11px;
    }
}

@media (max-width: 479px) {
    .loginSubtitle {
        font-size: 16px;
    }
}

@media (max-width: 383px) {
    .loginSubtitle {
        margin: 12px 8px 11px;
    }
}

.promoText {
    width: 504px;
    max-width: 85%;
    font: 700 64px/1.2 "Golos Text", Helvetica, Arial, serif;
    color: #4d00ff;
}

@media (max-width: 991px) {
    .promoText {
        align-items: flex-start;
        font-size: 52px;
    }
}

@media (max-width: 479px) {
    .promoText {
        font-size: 36px;
    }
}

.votingListSection {
    display: flex;
    flex-direction: column;
}

.flexColumnVotingList {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 48px auto 48px;
    width: 86%;
    max-width: 1280px;
}

@media (max-width: 575px) {
    .flexColumnVotingList {
        margin: 64px auto 64px;
    }
}

@media (max-width: 383px) {
    .flexColumnVotingList {
        margin: 50px auto;
    }
}

.heroTitleAvailableVoting {
    width: 100%;
    font: 400 48px/1.2 "Golos Text", Helvetica, Arial, serif;
    color: rgba(0, 0, 0, 0.8);
}

@media (max-width: 991px) {
    .heroTitleAvailableVoting {
        align-items: flex-start;
        font-size: 44px;
    }
}

@media (max-width: 479px) {
    .heroTitleAvailableVoting {
        font-size: 36px;
    }
}

.flexRowVotingOptions {
    /*display: grid;*/
    /*grid-template-columns: repeat(4, 1fr);*/
    display: flex;
    flex-wrap: wrap;
    gap: 60px;
    justify-content: flex-start;
    margin: 64px auto;
}

@media (max-width: 767px) {
    .flexRowVotingOptions {
        flex-direction: column;
        align-items: center;
        gap: 30px 10px;
    }
}

.votingOptionWrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 30px 0;
    width: 275px;
    min-width: 0;
    border-radius: 16px;
    background-image: linear-gradient(180deg, #4d00ff 0%, #8a58ff 100%);

}

@media (max-width: 767px) {
    .votingOptionWrapper {
        width: 100%;
        min-width: unset;
    }
}

.votingOptionImage {
    width: 100%;
    height: 200px;
    border-radius: 16px 16px 0 0;
    -o-object-fit: cover;
    object-fit: cover;
}

.flexColumnVotingOption {
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Центрирование вертикально */
    align-items: center; /* Центрирование горизонтально */
    gap: 20px; /* Установите желаемое расстояние между элементами */
    margin: 0 0 24px;
    width: 100%;

}

.votingOptionSubtitle {
    display: flex;
    text-align: center;
    align-items: center;
    width: 100%;
    font: 700 20px/1.2 "Golos Text", Helvetica, Arial, serif;
    color: white;
}

@media (max-width: 991px) {
    .votingOptionSubtitle {
        font-size: 18px;
    }
}

@media (max-width: 479px) {
    .votingOptionSubtitle {
        font-size: 16px;
    }
}

.voteButton {
    display: flex;
    justify-content: center; /* Центрирование текста и иконки */
    align-items: center;
    gap: 0 13px;
    margin: 0; /* Уберите дополнительные отступы */
    width: 200px;
    max-width: 100%;
    background-color: white;
    border-radius: 20px;
    padding: 8px 24px;
}

.voteButtonText {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 0;
    font: 400 20px/1.2 "Golos Text", Helvetica, Arial, serif;
    color: #4d00ff;
    text-align: center;
    text-decoration: none;
}

.white {
    color: white;
}


.voteButtonIcon {
    width: 24px;
    min-width: 0;
}

.flexRowVotingControls {
    display: flex;
    justify-content: space-between;
    margin: 32px 0 0;
    width: 100%;
}

@media (max-width: 767px) {
    .flexRowVotingControls {
        flex-direction: column;
        align-items: center;
        gap: 30px 10px;
    }
}

@media (max-width: 383px) {
    .flexRowVotingControls {
        margin: 50px 0 0;
    }
}

.flexRowPagination {
    display: flex;
    align-items: center;
    gap: 0 25px;
    margin: 59px 0 0;
    width: 490px;
    max-width: 85%;
}

@media (max-width: 767px) {
    .flexRowPagination {
        flex-direction: column;
        gap: 30px 25px;
    }
}

@media (max-width: 383px) {
    .flexRowPagination {
        margin: 50px 0 0;
    }
}

.paginationWrapper {
    display: flex;
    flex-direction: column;
    width: 113px;
    min-width: 0;
    border-radius: 8px;
    opacity: 0.5;
}

@media (max-width: 767px) {
    .paginationWrapper {
        width: 100%;
        min-width: unset;
    }
}

.flexRowPaginationControls {
    display: flex;
    gap: 0 8px;
    margin: 8px 11px 8px 12px;
}

@media (max-width: 383px) {
    .flexRowPaginationControls {
        margin: 8px;
    }
}

.paginationImagePrevious {
    width: 16px;
    -o-object-fit: cover;
    object-fit: cover;
}

.paginationPreviousText {
    font: 400 16px/1 Inter, Helvetica, Arial, serif;
    color: #757575;
}

.currentPageBox {
    display: flex;
    flex-direction: column;
    width: 32px;
    min-width: 0;
    background-color: #4d00ff;
    border-radius: 8px;
}

@media (max-width: 767px) {
    .currentPageBox {
        width: 100%;
        min-width: unset;
    }
}

.currentPageText {
    margin: 8px 9px 8px 12px;
    font: 400 16px/1 Inter, Helvetica, Arial, serif;
    color: whitesmoke;
}

@media (max-width: 383px) {
    .currentPageText {
        margin: 8px;
    }
}

.paginationTextPage {
    font: 400 16px/1 Inter, Helvetica, Arial, serif;
    color: #1e1e1e;
}

@media (max-width: 767px) {
    .paginationTextPage {
        width: 100%;
    }
}

.paginationEllipsisText {
    font: 700 16px/1.39 Inter, Helvetica, Arial, serif;
    color: #4d00ff;
}

@media (max-width: 767px) {
    .paginationEllipsisText {
        width: 100%;
    }
}

.paginationNextText {
    font: 400 16px/1 Inter, Helvetica, Arial, serif;
    color: #1e1e1e;
}

@media (max-width: 767px) {
    .paginationNextText {
        width: 100%;
    }
}

.paginationImageNext {
    width: 16px;
    -o-object-fit: cover;
    object-fit: cover;
}

@media (max-width: 767px) {
    .paginationImageNext {
        width: 100%;
        max-width: 16px;
    }
}

.footerSection {
    display: flex;
    flex-direction: column;
    min-height: 120px;
}

.footerWrapper {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 100%;
    background-color: rgba(191, 214, 255, 0.498);
}

.flexRowFooterGallery {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0 10px;
    margin: 36px auto;
    width: 86%;
    max-width: 1280px;
}

@media (max-width: 479px) {
    .flexRowFooterGallery {
        flex-direction: column;
        gap: 30px 10px;
    }
}

.footerSubtitle {
    display: flex;
    align-items: center;
    color: rgba(0, 0, 0, 0);
    text-align: center;
    -webkit-background-clip: text;
    background-clip: text;
    background-image: linear-gradient(180deg, #4d00ff 0%, #1e1e1e 100%);
}

@media (max-width: 991px) {
    .footerSubtitle {
        font-size: 18px;
    }
}

@media (max-width: 479px) {
    .footerSubtitle {
        width: 100%;
        font-size: 16px;
    }
}

.footerImage {
    width: 32px;
    -o-object-fit: cover;
    object-fit: scale-down;
}

@media (max-width: 479px) {
    .footerImage {
        width: 100%;
        max-width: 48px;
    }
}

.animated {
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.animated:hover {
    transform: scale(1.05);
}

.shadow:hover {
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

.flexRowDetailContainer {
    display: flex;
    justify-content: space-between;
    gap: 0 10px;
    margin: 83px 0 0;
    width: 100%;
}

@media (max-width: 575px) {
    .flexRowDetailContainer {
        flex-direction: column;
        align-items: center;
        gap: 30px 10px;
        margin: 80px 0 0;
    }
}

@media (max-width: 383px) {
    .flexRowDetailContainer {
        margin: 50px 0 0;
    }
}

@media (max-width: 991px) {
    .votingDetailsSubtitle_box {
        align-items: flex-start;
    }
}

@media (max-width: 575px) {
    .votingDetailsSubtitle_box {
        width: 100%;
    }
}

.votingDetailsSubtitle {
    font: 400 20px/1.2 "Golos Text", Helvetica, Arial, serif;
    color: black;
}

@media (max-width: 991px) {
    .votingDetailsSubtitle {
        font-size: 18px;
    }
}

@media (max-width: 479px) {
    .votingDetailsSubtitle {
        font-size: 16px;
    }
}

.votingDetailsSubtitle_span0 {
    font: 1em/1.2 "Golos Text", Helvetica, Arial, serif;
    color: #4c00ff;
}

.votingDetailsSubtitle_span1 {
    font: 1em/1.2 "Golos Text", Helvetica, Arial, serif;
    color: rgba(0, 0, 0, 0.8);
}

.votingIDSubtitle {
    display: flex;
    justify-content: flex-end;
    font: 400 20px/1.2 "Golos Text", Helvetica, Arial, serif;
    color: rgba(0, 0, 0, 0.8);
    text-align: right;
}

@media (max-width: 991px) {
    .votingIDSubtitle {
        align-items: flex-start;
        font-size: 18px;
    }
}

@media (max-width: 575px) {
    .votingIDSubtitle {
        width: 100%;
    }
}

@media (max-width: 479px) {
    .votingIDSubtitle {
        font-size: 16px;
    }
}

.contentBoxContainer {
    display: flex;
    flex-direction: column;
    margin: 49px 0 0;
    width: 100%;
    border-radius: 16px;
    background-image: linear-gradient(180deg, #4d00ff 0%, #8a58ff 100%);
}

.flexRowContentContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0 10px;
    margin: 74px auto;
    width: 90.62%;
}

@media (max-width: 1199px) {
    .flexRowContentContainer {
        flex-direction: column;
        gap: 30px 10px;
    }
}

@media (max-width: 383px) {
    .flexRowContentContainer {
        margin: 50px auto;
    }
}

.flexColumnTitleContainer {
    display: flex;
    flex-direction: column;
    gap: 85px 0;
    width: 535px;
    min-width: 0;
}

@media (max-width: 1199px) {
    .flexColumnTitleContainer {
        width: 100%;
        min-width: unset;
    }
}

@media (max-width: 575px) {
    .flexColumnTitleContainer {
        gap: 80px 0;
    }
}

@media (max-width: 383px) {
    .flexColumnTitleContainer {
        gap: 50px 0;
    }
}

.heroTitle {
    font: 700 48px/1.2 "Golos Text", Helvetica, Arial, serif;
    color: white;
}

@media (max-width: 991px) {
    .heroTitle {
        align-items: flex-start;
        font-size: 44px;
    }
}

@media (max-width: 479px) {
    .heroTitle {
        font-size: 36px;
    }
}

.voteDetailButton {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0 10px;
    width: 300px;
    max-width: 100%;
    background-color: white;
    border-radius: 30px;
    padding: 16px 8px;
}

.voteDetailButtonText {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 4px 0;
    min-width: 0;
    сolor: #4d00ff;
    text-align: center;
}

.voteDetailButtonIcon {
    width: 36px;
    min-width: 0;
}

.votingImage {
    width: 580px;
    min-width: 0;
    border-radius: 16px;
    -o-object-fit: cover;
    object-fit: cover;
}

@media (max-width: 1199px) {
    .votingImage {
        width: 100%;
        min-width: unset;
        max-width: 580px;
    }
}

.detailedInformationSection {
    display: flex;
    flex-direction: column;
}

.flexColDetailContainer {
    display: flex;
    flex-direction: column;
    gap: 50px 0;
    margin: 95px auto;
    width: 86%;
    max-width: 1280px;
}

@media (max-width: 575px) {
    .flexColDetailContainer {
        margin: 80px auto 76px;
    }
}

@media (max-width: 383px) {
    .flexColDetailContainer {
        gap: 50px 0;
        margin: 50px auto;
    }
}

.detailInfoHeroTitle {
    font: 400 48px/1.2 "Golos Text", Helvetica, Arial, serif;
    color: rgba(0, 0, 0, 0.8);
}

@media (max-width: 991px) {
    .detailInfoHeroTitle {
        align-items: flex-start;
        font-size: 44px;
    }
}

@media (max-width: 479px) {
    .detailInfoHeroTitle {
        font-size: 36px;
    }
}

.detailInfoSubtitle {
    font: 400 20px/1.2 "Golos Text", Helvetica, Arial, serif;
    color: black;
}

@media (max-width: 991px) {
    .detailInfoSubtitle {
        align-items: flex-start;
        font-size: 18px;
    }
}

@media (max-width: 479px) {
    .detailInfoSubtitle {
        font-size: 16px;
    }
}

.votingFlexCol {
    display: flex;
    flex-direction: column;
    gap: 655px 0;
    margin: 32px auto 244px;
    width: 86.49%;
    max-width: 1280px;
}

@media (max-width: 991px) {
    .votingFlexCol {
        gap: 150px 0;
        margin: 32px auto 150px;
    }
}

@media (max-width: 575px) {
    .votingFlexCol {
        gap: 80px 0;
        margin: 32px auto 80px;
    }
}

@media (max-width: 383px) {
    .votingFlexCol {
        gap: 50px 0;
        margin: 32px auto 50px;
    }
}

.votingFlexCol1 {
    display: flex;
    flex-direction: column;
    gap: 48px 0;
}

.votingHeroTitle {
    font: 400 48px/1.2 "Golos Text", Helvetica, Arial, serif;
    color: rgba(0, 0, 0, 0.8);
}

@media (max-width: 991px) {
    .votingHeroTitle {
        align-items: flex-start;
        font-size: 44px;
    }
}

@media (max-width: 479px) {
    .votingHeroTitle {
        font-size: 36px;
    }
}

.votingContentBox1 {
    display: flex;
    flex-direction: column;
    border-radius: 16px;
    background-image: linear-gradient(180deg, #4d00ff 0%, #8a58ff 100%);
}

.votingFlexRow2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0 10px;
    margin: 0 auto 0 0;
    width: 96.25%;
}

@media (max-width: 1199px) {
    .votingFlexRow2 {
        flex-direction: column;
        gap: 30px 10px;
    }
}

.votingImage4 {
    width: 400px;
    height: 250px;
    border-radius: 16px 0 0 16px;
    -o-object-fit: cover;
    object-fit: cover;
}

@media (max-width: 1199px) {
    .votingImage4 {
        width: 100%;
        max-width: 400px;
    }
}

.votingFlexCol2 {
    display: flex;
    flex-direction: column;
    gap: 47px 0;
    width: 801px;
    min-width: 0;
}

@media (max-width: 1199px) {
    .votingFlexCol2 {
        width: 100%;
        min-width: unset;
    }
}

.votingFlexRow3 {
    display: flex;
    gap: 0 15px;
}

@media (max-width: 383px) {
    .votingFlexRow3 {
        -moz-column-gap: 8px;
        column-gap: 8px;
    }
}

.votingTitle {
    display: flex;
    align-items: center;
    width: 738px;
    font: 700 32px/1.18 "Golos Text", Helvetica, Arial, serif;
    color: white;
}

@media (max-width: 991px) {
    .votingTitle {
        font-size: 30px;
    }
}

@media (max-width: 479px) {
    .votingTitle {
        font-size: 26px;
    }
}

.votingCartImage {
    margin: 7px 0 21px;
    width: 48px;
    -o-object-fit: cover;
    object-fit: cover;
}

.votingInputsRow {
    display: flex;
    flex-direction: row;
    align-content: space-between;
}


.votingNameInput {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-style: solid;
    border-color: #4c00ff;
    border-radius: 16px;
}

.votingFieldBox {
    display: flex;
    flex-direction: row;
}

.votingMediumTitle {
    display: flex;
    align-items: center;
    height: 32px;
    margin: auto 0;
    color: white;
}

.numberInput {
    display: flex;
    align-items: center;
    margin: 8px 0 8px 20px;
    width: 250px;
    max-width: 86%;
    height: 48px;
    color: rgba(0, 0, 0, 0.8);
    background-color: white;
    border-radius: 16px;
}

.votingMediumTitleInput {
    display: flex;
    align-items: center;
    margin: 8px 0 8px 20px;
    width: 560px;
    max-width: 86%;
    height: 48px;
    color: rgba(0, 0, 0, 0.8);
    background-color: white;
    border-radius: 16px;
}

@media (max-width: 991px) {
    .votingMediumTitleInput {
        font-size: 22px;
    }
}

@media (max-width: 575px) {
    .votingMediumTitleInput {
        margin: 21px 0 20px 16px;
    }
}

@media (max-width: 479px) {
    .votingMediumTitleInput {
        font-size: 20px;
    }
}

@media (max-width: 383px) {
    .votingMediumTitleInput {
        margin: 21px 0 20px 8px;
    }
}

.votingSubmitButton {
    display: flex;
    justify-content: center;
    margin: 0 0 0 auto;
    width: 208px;
    max-width: 100%;
    font: 400 24px/1.2 "Golos Text", Helvetica, Arial, serif;
    color: white;
    text-align: center;
    border-radius: 34px;
    padding: 20px 40px;
    background-image: linear-gradient(180deg, #4d00ff 0%, #8a58ff 100%);
}

.relative {
    position: relative;
}

.objectCountBadge {
    position: absolute;
    top: -10px;
    right: -10px;
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 5px 10px;
    font-size: 14px;
    font-weight: bold;
}