<!DOCTYPE html>
{% load static %}
<html lang="ru">

<head>

    <meta charset="utf-8"/>
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

    <link rel="stylesheet" type="text/css"
          href="{% static 'css/common.css' %}"/>
    <link rel="stylesheet" type="text/css"
          href="{% static 'css/fonts.css' %}"/>
    <link rel="stylesheet" type="text/css"
          href="{% static 'css/styles.css' %}"/>
    <title>
        {% block title %} Голос Города {% endblock title %}
    </title>
</head>

<body>
<div class="wrapper">
    {% include 'includes/header.html' %}
    <main class="mainContent">
        {% block content %} Контент не подвезли :( {% endblock content %}
    </main>
    {% include 'includes/footer.html' %}
</div>
</body>
</html>