<!DOCTYPE html>
<html>
{% load static %}
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <link rel="stylesheet" type="text/css" href="{% static 'css/common.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/fonts.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/UntitledPage.css' %}" />
</head>

<body class="flex-column">
<main class="untitled-page mainContent">
    <section class="resultsSection">
        <div class="wrapperImageSection" style="--src:url('{% static "assets/0501d0aedfab502d108b08d6afe8faac.png" %}')">
        <div class="flexColumn">
            <nav class="flexRow">
                <div class="flexRowVoting">
                    <img class="votingImage1" src="{% static 'assets/7c1e6f9098064854f85afe6de8389fef.png' %}" alt="alt text" />
                    <img class="votingImage2" src="{% static 'assets/9a1564388166939ad2b3db9bf2024647.png' %}" alt="alt text" />
                </div>
                <h3 class="votingSubtitle1">Голосования</h3>
                <h3 class="votingSubtitle2">Результаты</h3>
                <div class="loginWrapper">
                    <h3 class="loginSubtitle">Войти</h3>
                </div>
            </nav>
            <h1 class="heroTitleVoting">
                Ваш голос — имя для города
            </h1>
        </div>
        </div>
    </section>

    <section class="votingListSection">
        <div class="flexColumnVotingList">
            <h1 class="heroTitleAvailableVoting">Доступные голосования</h1>
            <div class="flexRowVotingOptions">
                {% for voting in votings %}
                <div class="votingOptionWrapper">
                    <img class="votingOptionImage" src="{{ voting.image }}" alt="Изображение {{ voting.name }}" />
                    <div class="flexColumnVotingOption">
                        <h3 class="votingOptionSubtitle">{{ voting.name }}</h3>
                        <p>{{ voting.info }}</p>
                        <button class="voteButton">
                            <a href="{% url 'voting_detail' voting.id %}">
                                <h3 class="voteButtonText">Голосовать</h3>
                            </a>
                            <img class="voteButtonIcon" src="{% static 'assets/vote_icon.svg' %}" alt="Голосовать" />
                        </button>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>

    <footer class="imageGallerySection">
        <div class="imageGalleryWrapper">
            <div class="flexRowImageGallery">
                <img class="galleryImage1" src="{% static 'assets/fdc8fda558cb0948a85ddcf4caf97787.svg' %}" alt="alt text" />
                <h3 class="gallerySubtitle">Вадим Пичурин 2024</h3>
                <img class="galleryImage2" src="{% static 'assets/d626e14ac80085bd6bb43977c4793ec2.png' %}" alt="alt text" />
                <img class="galleryImage3" src="{% static 'assets/982ab0ab302cb2b400c81728ea5e1c10.png' %}" alt="alt text" />
                <img class="galleryImage4" src="{% static 'assets/74249d5673a140f777bdda2385e353a0.png' %}" alt="alt text" />
            </div>
        </div>
    </footer>
</main>


</body>

</html>
