{% extends "base.html" %}
{% block title %} Голосования {% endblock title %}
{% block content %}
    {% load static %}
    {#    <div class="wrapperImageSection"#}
    {#         style="--src:url('{% static "assets/background.png" %}')">#}
    {#        <div class="flexColumn">#}
    {#            <h1 class="promoText">#}
    {#                Ваш голос — имя для города#}
    {#            </h1>#}
    {#        </div>#}
    {#    </div>#}

    <div class="flexColumnVotingList">
        <h1 class="heroTitleAvailableVoting">Объекты для голосования</h1>
        <div class="flexRowVotingControls">
            <form class="flexRow" method="GET" action="{% url 'index' %}">
                <input
                        type="text" name="object_name" placeholder="Поиск..."
                        value="{{ request.GET.object_name }}">
                <button type="submit" class="animated">
                    <h3 class="voteButtonText">Искать</h3>
                </button>
            </form>
            {% if draft_voting %}
                <div class="relative">
                    <a href="{% url 'voting_detail' draft_voting.id %}">
                        <button class="animated shadow loginButton">
                            Заявка
                        </button>
                    </a>
                    {% if draft_voting_object_count > 0 %}
                        <span class="objectCountBadge">{{ draft_voting_object_count }}</span>
                    {% endif %}
                </div>
            {% else %}
                <button class="disabledButton loginButton">
                    Заявка
                </button>
            {% endif %}
        </div>
        <div class="flexRowVotingOptions">
            {% for item in objects_with_status %}
                {% with object=item.object is_added=item.is_added %}
                    {% include "includes/card.html" %}
                {% endwith %}
            {% endfor %}
        </div>
    </div>
{% endblock content %}