{% extends "base.html" %}
{% block title %} Голосования {% endblock title %}
{% block content %}
    {% load static %}
    <div class="votingFlexCol">
        <div class="votingFlexCol1">
            <h1 class="votingHeroTitle">Новая заявка (Черновик)</h1>
            <div class="flexRowVotingControls">
                <div class="votingNameInput">
                    <h2 class="votingMediumTitleInput">Название голосования</h2>
                </div>
                <div class="votingNameInput">
                    <h2 class="numberInput">Дата проведения</h2>
                </div>
            </div>
            {% for voting in votings %}
                <div class="votingContentBox1">
                    <div class="votingFlexRow2">
                        <img class="votingImage4" src="{{ voting.image }}"
                             alt="alt text"/>
                        <div class="votingFlexCol2">
                            <div class="votingFlexRow3">
                                <h1 class="votingTitle"> {{ voting.name }} </h1>
                            </div>
                            <div class="votingFieldBox">
                                <h2 class="votingMediumTitle">Количество
                                    голосов: </h2>
                                <h2 class="numberInput">{{ voting.count }}</h2>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock content %}