{% extends "base.html" %}
{% block title %} Голосования {% endblock title %}
{% block content %}
    {% load static %}
    <div class="flexColContainer">
        <h1 class="heroTitleAvailableVoting">Заявки</h1>
        <table>
            <thead>
            <tr>
                <th>ID</th>
                <th>Название</th>
                <th>Дата создания</th>
                <th>Статус</th>
                <th>Дата завершения</th>
                <th>Удалить</th>
            </tr>
            </thead>
            <tbody>
            {% for voting in votings %}
                <tr onclick="window.location.href='{% url 'voting_detail' voting.id %}'"
                    style="cursor: pointer;">
                    <td>{{ voting.id }}</td>
                    <td>{{ voting.name|default:"--" }}</td>
                    <td>{{ voting.created_at|date:"d.m.Y" }}</td>
                    <td>{{ voting.get_status_display }}</td>
                    <td>{{ voting.end_date|date:"d.m.Y"|default:"--" }}</td>
                    <td>
                        <form method="post"
                              action="{% url 'delete_voting' voting.id %}">
                            {% csrf_token %}
                            <button type="submit" class="delete-button">
                                Удалить
                            </button>
                        </form>
                    </td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="5">Голосования не найдены</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock content %}